:root {
	font-size: 16px;
	--color-background: #000;
	--color-text-primary: #fff;
	--color-primary-glow: #B39DFF;
	--font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;
}